# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# PyTorch
*.pth

# Models
*.pkl

# Data
*.csv
*.h5
*.zip

# MacOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Results
results/models/
results/tables/
results/figures/
